#left_col
  = render :partial => "statuses/new"
  %ul
    - @statuses.sort.reverse.each do |date, statuses|
      %li
        %h2
          %a{:id => date, :title => statuses.first.created_at.pretty_date}= today_tomorrow_or_day statuses.first.created_at
        %ul#users
          - statuses.group_by(&:user).each do |user, statuses|
            %li.user{:class => user_class(user, current_user)}
              .avatar= gravatar_for user
              %h3= user.login
              %ul#statuses
                = render :partial => statuses
#right_col
  %p#office
    =current_user.login
    is in the office today
  = render :partial => 'scrapbooks/new'
  = render :partial => 'scrapbooks/index'

#bottom_col
